:root {
    --night: #0A0A0A;
    --white: #FFFFFF;
    --lime: #cbfd56;
    --lime2: rgba(203, 253, 86, 0.5);
    --silver: rgb(194, 194, 194);
    --electric-blue: hwb(183 20% 7%);
    --electric-blue2: rgba(50, 227, 236, 0.5);
    --outer-space: 4px;
}

::-webkit-scrollbar {
    width: 5px;
    /* Set the scrollbar width */
    background-color: transparent;
    /* Set the scrollbar track background color */
}

::-webkit-scrollbar-thumb {
    background-color: var(--white);
    /* Set the scrollbar thumb background color */
    border-radius: 5px;
    /* Set the scrollbar thumb border radius */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    transition: 0.5s;
    text-decoration: unset;
    color: unset;
}

button {
    background: unset;
    outline: unset;
    border: unset;
    cursor: pointer;
}

a:hover {
    color: var(--lime);
}

body {
    background: var(--night);
    outline: 1px solid yellow;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    filter: blur(0px);
    transition: 0.5s;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
}


body.loading {
    #nav {
        filter: blur(1px);
    }
    #map-container {
        filter: blur(1px);
    }
    .overlay {
        
        z-index: 100;
        height: 100vh;
        width: 100vw;
    
        background: rgb(12, 12, 12, 0.3);
        color: white;
        display: grid;
        place-items: center;
    }
    .loading-container {
        border-radius: 5px;
        padding: 20px;
        background:
            linear-gradient(70deg, var(--lime2), var(--electric-blue2)),
            linear-gradient(120deg, var(--electric-blue2), var(--lime2)),
            linear-gradient(170deg, var(--lime2), var(--electric-blue2));
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .loading-spin {
        font-size: 3rem;
        display: grid;
        place-items: center;
        animation: spin 2s infinite ease-in-out;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }
}



#root {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--outer-space);
    padding: var(--outer-space);
    background:
        linear-gradient(70deg, var(--lime), var(--electric-blue)),
        linear-gradient(120deg, var(--electric-blue), var(--lime)),
        linear-gradient(170deg, var(--night), var(--electric-blue));
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px 25px 20px 25px;
    background: var(--night);
    filter: blur(0px);
    font-size: 1.25rem;
}
#nav a {
    display: grid;
    place-items: center;
}

.navigation-link {
    color: white;
}

.nav-logo {
    height: 40px;
}

#map-container {
    height: 400px;
    max-width: 100%;
    background: white;
    flex: 1;
    position: relative;
    overflow: hidden;
    filter: blur(0px);
}

.panel {
    background: lightskyblue;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    background: transparent;

    svg {
        transition: 0.5s;
    }

}


.panel.closed {
    transform: translate(-50%, calc(100% - 30px));

    .panel-header svg {
        transform: rotateZ(540deg);
    }
}

.panel-header {
    height: 30px;
    width: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        color: white;
        font-size: 1.5rem;
    }

    padding: 5px;
    background: var(--night);
}

.panel-content {
    flex: 1;
    padding: 5px;
    width: 96%;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        width: 100%;
    }

    button {
        width: max-content;
        border-radius: 5px;
        color: var(--white);
        background: var(--night);
        display: flex;
        padding: 10px;
        gap: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1rem;
    }

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background: linear-gradient(70deg, var(--lime2), var(--electric-blue2)),
    linear-gradient(120deg, var(--electric-blue2), var(--lime2)),
    linear-gradient(170deg, var(--lime2), var(--electric-blue2));

    textarea {
        resize: none;
        width: 100%;
        height: 100px;
        padding: 10px;
    }
}

.popup-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 300px;
    height: 200px;
    background: var(--night);
    border: solid 2px white;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s;
    transform: translateY(120%);
}

.popup-container.open {
    transform: translateY(0%);
}

.popup-header {
    padding: 10px;
    width: 100%;
    background:
        linear-gradient(70deg, var(--lime2), var(--electric-blue2)),
        linear-gradient(120deg, var(--electric-blue2), var(--lime2)),
        linear-gradient(170deg, var(--lime2), var(--electric-blue2));
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup-title {
    max-height: 30px;
    word-wrap: break-word;
    overflow-y: hidden;
}

.popup-content {
    flex: 1;
    padding: 10px;
    word-wrap: break-word;
    overflow-y: scroll;
}

.popup-icon {
    right: 6px;
    top: 6px;
    color: white;
    display: grid;
    place-items: center;
}

.big {
    font-size: 1rem;
}

.small {
    font-weight: 100;
}