:root {
  --night: #0A0A0Aff;
  --white: #FFFFFFff;
  --lime: #CBFD56ff;
  --silver: #C2C2C2ff;
  --electric-blue: #33E3ECff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#map-container {
  width: 80vw;
  height: 80vh;
}